<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="chat.js"></script>

</head>
<body onload="whoami()">

<table width="100%" >

    <tr>
        <td width="25%">
            <div  class="alert alert-primary" role="alert">
                <label id="cu_name" onclick="changeNameLoad()" ></label>
                <input id="inputChange" type="text" placeholder="Change name..." style="display:none">
                <button id="buttonChange" onclick="changeName()" type="button" class="btn btn-outline-dark btn-sm" style="display:none">Change</button>
                <button id="cancelChange" onclick="cancelChange()" type="button" class="btn btn-outline-primary btn-sm" style="display:none">Cancel</button>
            </div>
        </td>
        <td width="75%">
        </td>
    </tr>

    <tr>
        <td width="25%">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Chats
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Family
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Friends
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option4" autocomplete="off"> Favorites
              </label>
            </div>


            <div id="allusers">
            </div>
        </td>

        <td width="75%">
            <div id="div" style="display:none">
                <div id="from" height="20%"></div>
                <div id="messages_" height="70%"></div>
                <div id="send">
                    <input type="text" id="content" placeholder="Write your message...">
                    <button type="button" class="btn btn-secondary" id="send_button" onclick="sendMessage()">
                        Send</button>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>
