<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
    <link rel="stylesheet" href="/static/css/login.css/">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div id="tabla">
    <h1>Login</h1>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div>
        <label for="username">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <div>
        <input type="button" value="Sign in" onclick="getData()"/>
    </div>
    <img src="/static/images/loading.gif" id="loading" style="display:none">
</div>
</body>
</html>

