body{
              font-family: 'Montserrat', sans-serif;
              background:#F8E1DC;
              margin: 0 auto 0 auto;
              width:100%;
              text-align:center;
              margin: 20px 0px 20px 0px;
              float: left;

}

label{
                width: 40%;
                padding: 5px;
                margin: 15px;
                border-bottom: 3px #E09B8C solid;

}

h1{
          font-size:3em;
          color:#525252;
}


div{
            padding: 20px;
            background: white;
			width: 50%;
			max-width: 700px;
			margin: 10px auto;
			margin-top: 10px;
}

input{
        padding: 10px;
        font-size:0.8em;
}

img{
        width: 5em;
        margin: 1.66%;
}
